@tailwind base;
@tailwind components;
@tailwind utilities;

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open-chatbot {
  display: none;
}

.fixed-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  background-color: rgb(88, 21, 21);
  height: 55px;
  width: 55px;
  border-radius: 100px;
  color: white;
}

.chatbot {
  position: fixed;
  bottom: 100px;
  right: 50px;
}

.logo-height {
  height: 35px;
}
